<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earthquake Data</title>
</head>
<body>
    <h1>Earthquake Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th>Jam</th>
                <th>Lintang</th>
                <th>Bujur</th>
                <th>Kedalaman</th>
                <th>Magnitude</th>
                <th>Wilayah</th>
            </tr>
        </thead>
        <tbody>
            {% for earthquake in earthquakes %}
                <tr>
                    <td>{{ earthquake.tanggal }}</td>
                    <td>{{ earthquake.jam }}</td>
                    <td>{{ earthquake.lintang }}</td>
                    <td>{{ earthquake.bujur }}</td>
                    <td>{{ earthquake.kedalaman }}</td>
                    <td>{{ earthquake.magnitude }}</td>
                    <td>{{ earthquake.wilayah }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
